<section class="banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-caption">
                    <div class="line-dec"></div>
                    <h2>Red Carpet Pups</h2>
                    <span>Our Top Dog Friendly Hotels & Boarding in The United States!</span>
                </div>
                <div class="submit-form">
                    <form id="form-submit" action="" method="get">
                        <div class="row">
                            <div class="col-md-3 first-item">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name"
                                        placeholder="Your name..." required="">
                                </fieldset>
                            </div>

                            <div class="col-md-3 second-item">
                                <fieldset>
                                    <select required name='category' onchange='this.form()'>
                                        <option value="">Select Location...</option>
                                        <option value="fitDog">Fitdog Sports Club - Santa Monica, CA</option>
                                        <option value="dPetHotels">D Pet Hotels - Los Angeles, CA</option>
                                        <option value="oldeTownPetResort">Olde Town Pet Resort - Washington, D.C.
                                        </option>
                                        <option value="bestFriendsPetHotel">Best Friends Pet Hotel - Berlin, NJ</option>
                                        <option value="aModernDog">A Modern Dog - Chicago, IL</option>
                                        <option value="spaPawsHotel">Spa Paws Hotel - Fort Worth, TX</option>
                                        <option value="ritzyCanine">Ritzy Canine Carriage House - New York, NY</option>
                                        <option value="theBarkley">The Barkely - Orange Village, OH</option>
                                        <option value="elementHotels">Element Hotels - Scottsdale, AZ</option>
                                        <option value="loewsHotels">Loews Hotels - Tucson, AZ</option>
                                        <option value="=graduateHotels">Graduate Hotels, Lincoln, NE</option>
                                        <option value="springhillSuites">SpringHill Huites - Anaheim, CA</option>
                                        <option value="k9Resorts">K9 Resorts Luxury Pet Hotel - Albuquerque, NM</option>
                                        <option value="pawTown">Pawtown Pet Boarding - Spring, TX</option>
                                        <option value="urbanHound">The Urban Hound - Boston, MA</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-3 third-item">
                                <fieldset>
                                    <select required name='category' onchange='this.form()'>
                                        <option value="">Dog Weight...</option>
                                        <option value="0-10">0-10 LBS</option>
                                        <option value="11-20">11-20 LBS</option>
                                        <option value="21-30">21-30 LBS</option>
                                        <option value="31-40">31-40 LBS</option>
                                        <option value="41-50">41-50 LBS</option>
                                        <option value="51-60">51-60 LBS</option>
                                        <option value="60+">60+ LBS</option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="col-md-3">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">Search Now</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="featured-places" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Featured Places</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/santaMonica.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>FITDOG SPORTS CLUB</h4>
                        <span>Santa Monica, CA</span>
                        <p>Two words that will be music to your dog's ears: Beach excursions. Canines staying at the
                            coastal Fitdog Sports Club in Santa Monica are entertained at the the sunny beaches and
                            hiking trails of Southern California. But coming back to the resort will be just as glorious
                            for your pup: Amenities include cooling pet beds for fluffy dogs, puzzle playtime (hey, even
                            Pooch needs to work his noggin'), treadmill workouts, full-service grooming and mini bar
                            service.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/losAngeles.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>D PET HOTELS</h4>
                        <span>Los Angeles, CA</span>
                        <p>Part of a chain that includes locations in Chelsea, Scottsdale, Hollywood and soon Austin,
                            the Los Angeles branch of D Pet Hotels has all the luxury the brand is known for. Pictured
                            here is the Winston Suite, which comes with an à la carte menu and 65" flat screen TV.
                            Certain packages involve a Netflix and Chill session — aka munching on sirloin steak with a
                            canine friend — and the bed is outfitted with a memory foam mattress and Ralph Lauren
                            sheets....</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/washington.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>OLDE TOWN PET RESORT</h4>
                        <span>Washitgton, D.C.</span>
                        <p>The $9 million Olde Towne Pet Resort has three locations throughout the Washington D.C.
                            region and includes a spa that offers mud bath treatments and blueberry facials (uh, can we
                            go?), a heated swimming pool for exercise and therapy, and an air filtration system that
                            delivers fresh air to your pup from the outdoors every three to four seconds. Luxury suites
                            are 50 square feet and include the option to provide a TV with familiar images ...</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/newJersey.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>BEST FRIENDS PET HOTEL</h4>
                        <span>Berlin, NJ</span>
                        <p>If your family is headed to Walt Disney World, look no further than Best Friends Pet Care — a
                            facility right on the theme park's property. Dogs have unlimited access to patios during the
                            day, and VIP luxury suites come with a flat panel television programmed for your dog, a
                            private play yard, a personal pet concierge and a raised platform bed. Oh, and of course,
                            your dog will receive a bed time story each night.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/chicago.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>A MODERN DOG HOTEL</h4>
                        <span>Chicago, IL</span>
                        <p>Stay: A Modern Dog Hotel costs $75 a night for a stay in one of their 160 square foot, all
                            glass dog suites. The suite includes: bedding, a toy chest, wall art and fresh flowers.
                            Along with the extravagant rooming, dogs can stay in top shape at the hotel. For $5, they
                            can enjoy a supervised 10 minute jog on a treadmill. On warmer days, dogs can go on a
                            30-minute nature walk in Horner Park by the river, for $20. And for $25, dogs can take a 20-
                            minute swim in the hotel's custom made dog lap-pool. Dogs wear a life vest and work directly
                            with a trainer to ensure optimum safety during their work out...</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/fortWorth.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>SPA PAWS HOTEL</h4>
                        <span>Fort Worth, TX</span>
                        <p>Dog owners shell out up to $200 per night for their dog to stay in Fort Worth's Spa Paws
                            Hotel, which, according to their owner, is "the only hotel in America like this." Spa Paws
                            uses holistic techniques to pamper their furry guests with 24 hour care. Along with the
                            basic services and amenities like filtered air, custom bedding and nightly tuck-ins, dogs
                            can also order room service items like fillet mignon or get dressed up for a professional
                            photo shoot. Spa Paws not only acts as a hotel, but also hosts canine...
                        </p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/img-02.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>RITZY CANINE CARRIAGE HOUSE</h4>
                        <span>New York, NY</span>
                        <p>The Ritzy Canine Carriage House rivals New York City's swankiest hotels, but, of course, this
                            one is designed just for pets. A pet owner can pay up to $50 a night for their pooch to stay
                            here. The Ritzy Canine Carriage House features a rooftop play area with a garden and a
                            waterfall. At night, dogs can stay in a regular suite or the "Presidential Suite," which has
                            a bed, toy chest, and television. When not playing on the roof, guests can spend time in the
                            indoor play area or at the spa. Their other option is to browse the gift shop, where they
                            can peruse pet items, from dog prom dresses to designer dog carriers.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/ohio.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>THE BARKLEY</h4>
                        <span>Orange Village, OH</span>
                        <p>At The Barkley Pet Hotel and Day Spa, overnight guests can choose from several different
                            styles of accommodations. Along with their standard suites, dogs can stay in the Barkley
                            Park Suites, which are situated in a grassy room with a fountain; the Executive Poolside
                            Suites, which overlook the indoor dog pool; or the Director's Suite, which, for $88 a night,
                            provides 160 square feet of private space, leather furniture and Hollywood decor. During the
                            day, dogs can enjoy activities like an ice cream social, a pool party, a trip to McDonald's,
                            or a phone call to their owner. Feline friends can sign up to stay in Kitty City which
                            provides each cat a private...</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/scottsdale.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>ELEMENT HOTELS</h4>
                        <span>Scottsdale, AZ</span>
                        <p>According to BringFido users, Element Hotels was the top dog among pet-friendly hotel chains
                            in the U.S. last year. Belonging to the Marriott family of properties, the popular chain has
                            created a nature-inspired look and feel that suits today’s canine traveler. Accommodations
                            with spa-inspired bathrooms and fully equipped kitchens make Element ideal for short or long
                            stays with your canine companion. Furry guests are welcome at more than 75 locations across
                            America, many of which don't charge a pet fee. Element Hotels’ “Love That Dog” program
                            provides special amenities for visiting pups, including a plush bed, food and water bowls,
                            and waste bags for easy cleanup.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/tucson.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>LOEWS HOTELS</h4>
                        <span>Tucson, AZ</span>
                        <p>Loews Hotels knows how to treat pets and their owners. Establishing itself as one of the
                            leading luxury pet-friendly hotel chains in the world, visitors can experience the high life
                            at more than two dozen locations across the U.S. and Canada. And every Loews is a true
                            original, incorporating the local flavor of each destination into its design. Loews’ canine
                            guests are pampered with everything from creature comforts like treats, bowls, and place
                            mats at check-in to pet beds, leashes, and collars available on request. The hotel chain
                            even offers a gourmet room service menu just for cats or dogs.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/lincoln.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>GRADUATE HOTELS</h4>
                        <span>Lincoln, NE</span>
                        <p>Graduate Hotels ranks near the top of the class on our list of best pet-friendly hotel
                            chains. Located in college towns across the U.S. and the U.K., each of its more than 30
                            boutique hotels showcases local collegiate culture and charm. Guests appreciate the
                            well-designed decor, warm atmosphere and luxury touches like Malin + Goetz bath products in
                            the rooms and Peloton bikes in the on-site gym. And the hotel extends a special welcome to
                            furry friends. While pet fees and weight restrictions differ from property to property,
                            certain locations feature on-site dog parks with waste stations, and many provide tasty dog
                            treats.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/springHill.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>SPRINGHILL SUITES</h4>
                        <span>Anaheim, CA</span>
                        <p>SpringHill Suites is ranked number two thanks to being “A Little Extra" and "A Lot Less
                            Ordinary.” Operated by Marriott, the chain invites four-legged guests to enjoy the “suite
                            life” at more than 100 locations in the United States. Suites are often bigger than
                            comparably priced rooms and are great for dogs who like to stretch out after a day of
                            exploring. SpringHill Suites’ pet policy varies by location, but select pet-friendly
                            properties provide amenities like treats, bowls, and grassy space with waste stations.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/albuquerque.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>K9 RESORTS LUXURY PET HOTEL</h4>
                        <span>Albuquerque, NM</span>
                        <p>K9 Resorts Luxury Pet Hotel is honored to have been rated the top pet care franchise in the
                            nation by the IBPSA. Our luxury pet resorts have been referred to as the best pet service
                            providers by New Jersey Monthly Magazine, Monmouth Health & Life Magazine, New Jersey
                            Monthly Magazine, The Courier News, and Suburban Essex Magazine.Our team of pet care
                            professionals takes the time to understand the individual needs of our guests and you can
                            trust us to take the time to accommodate your dog’s needs as you see fit.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/spring.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>PAWTOWN PET BOARDING</h4>
                        <span>Spring, TX</span>
                        <p>Our Dog DayCare Center features Day Camp Play Yards that are ready for your furry friend to
                            join us for doggie day care to have a blast with their buddies under the constant
                            supervision of our qualified and fun-loving handlers. Our trained professionals can
                            guarantee your dog is safe and happy at our dog day camp. Group play is beneficial to enrich
                            the spirit, increase social skills and stimulate the mind. This activity can have a very
                            positive impact on your dog’s health, happiness and behavior.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <img src="assets/img/boston.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <h4>THE URBAN HOUND</h4>
                        <span>Boston, MA</span>
                        <p>The Urban Hound is Boston’s premier full-service dog care facility. We offer daycare,
                            boarding, walking, grooming, and training. Located in the South End of Boston, we are easy
                            to access from 93, The Mass Pike, and Logan Airport. With certified dog trainers on staff
                            and 24-hour supervised care 365 days a year, you know your dog is always in a safe and in a
                            loving environment. We offer pick up and drop off services for customers living in the South
                            End, Back Bay, Beacon Hill, South Boston, Fort Point, and the Seaport.</p>
                        <div class="row">
                            <div class="col-md-6 first-button">
                                <div class="text-button">
                                    <a href="#">Add to favorites</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-button">
                                    <a href="#">Continue Reading</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="our-services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <span>BLOGS</span>
                    <h2>See Where Our Customers Have Been Traveling</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/blogPhoto1.jpg" alt="">
                    </div>
                    <h4>Swimming in Santa Monica</h4>
                    <p>Etiam viverra nibh at lorem hendrerit porta non nec ligula. Donec hendrerit porttitor pretium.
                        Suspendisse fermentum nec risus.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/blogPhoto2.jpg" alt="">
                    </div>
                    <h4>Hiking The Hills of Los Angeles</h4>
                    <p>Vivamus nec vehicula felis, sit amet convallis ex. Aenean dolor risus, rutrum at tincidunt eget,
                        placerat ac mauris. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quas non aliquid officia velit veniam laboriosam consequatur eveniet praesentium libero porro sunt, doloremque dicta, adipisci eius nihil explicabo sed eligendi!</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/blogPhoto3.jpg" alt="">
                    </div>
                    <h4>Kayaking Alongside Downtown Chicago</h4>
                    <p>Praesent nec dui sed urna pharetra dapibus at ac elit. Aenean hendrerit metus leo, quis viverra
                        purus
                        condimentum nec.</p>
                </div>
            </div>
           <br>
            <div class="wrapper">
                <div class="section-heading">
                    <span></span>
                    <h2>Let Others Know Where You and Your Pups Have Been Traveling</h2>
                </div>
                <button id="blogBtn" class="blogBtn">Leave a Post</button>
            </div>
        </div>

    </div>
</section>



<section id="video-container">
    <div class="video-overlay"></div>
    <div class="video-content">
        <div class="inner">
            <span>Your Trip Awaits, Book With </span>
            <h2>Red Carpet Pups</h2>
            <a href="#booking" target="_blank"></a>
        </div>
    </div>
    <video autoplay="" loop="" muted="">
        <source src="assets/highway-loop.mp4" type="video/mp4" />
    </video>
</section>



<section class="contact" id="contact">
    <div id="map">
        <!-- How to change your own map point
                             1. Go to Google Maps
                             2. Click on your location point
                             3. Click "Share" and choose "Embed map" tab
                             4. Copy only URL and paste it within the src="" field below
                      -->

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3335.6157297797163!2d-111.8761204848051!3d33.276551080824056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872b01d81ca90509%3A0xd2dd3688dc09c0ae!2sK9%20Resorts%20Luxury%20Pet%20Hotel!5e0!3m2!1sen!2sus!4v1653500148993!5m2!1sen!2susdowngrade"
            width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="container" id="contact">
        <div class="col-md-10 col-md-offset-1">
            <div class="wrapper">
                <div class="section-heading">
                    <span></span>
                    <h2>Have a question?</h2>
                </div>
                <!-- Modal button -->
                <button id="modBtn" class="modal-btn">Talk to us</button>
            </div>
            <div id="modal" class="modal">
                <!-- Modal Content -->
                <div class="modal-content">
                    <div class="close fa fa-close"></div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="left-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="section-heading">
                                            <span>Talk To Us</span>
                                            <h2>Let's have a discussion</h2>
                                        </div>
                                    </div>
                                    
                                  
                                  <!--add form-->
                                    <form #messagesForm="ngForm" (ngSubmit)="onMessageForm(messagesForm.value)">
                                      <label>Your name...</label>
                                      <input type="text" name="yName" ngModel>

                                      <label>Subject...</label>
                                      <input type="text" name="sSubject" ngModel>


                                      <label>Message...</label>
                                      <input type="text" name="mMessage" ngModel>

                                      <input type="submit" value="Add Message">


                                    </form>
                                    

                                    
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-4">
                            <div class="right-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="content">
                                            <div class="section-heading">
                                                <span>More About Us</span>
                                                <h2>Red Carpet Pups</h2>
                                            </div>
                                            <p>Please reach out and we will be happy to help you in any way that we can!
                                            </p>
                                            <ul>
                                                <li><span>Phone:</span><a href="#">555-555-5555</a></li>
                                                <li><span>Email:</span><a href="#">hi@redcarpetpups.com</a></li>
                                                <li><span>Address:</span><a href="#">123 Howling Hound Ln.</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>